.header {
    font-family: "Lato-Light";
    font-size: 16px;
    color: #131313;
    .breadcrumb {
        background-color: #ffffff;
    }
    ul.breadcrumb {
        padding: 10px 7%;
        list-style: none;
    }
    ul.breadcrumb li {
        display: inline;
        color: #131313;
    }
    ul.breadcrumb li+li:before {
        padding: 7px;
        content: ">";
    }
    ul.breadcrumb li a {
        font-family: "Lato-Light";
        font-size: 16px;
        color: #131313;
    }
    ul.breadcrumb>li {
        text-transform: none;
        margin: 0;
    }
    ul.breadcrumb>li:after {
        border-bottom: none;
    }
}

.header p>a {
    cursor: pointer;
    color: black;
}

h1 {
    font-family: "AbrilFatface";
    font-size: 35px;
    color: #131313;
}

h4,
h5,
h2 {
    font-family: "Lato-Light";
    font-size: 18px;
    color: #131313;
}

h5 {
    font-size: 14px;
    color: #131313;
}

h2 {
    color: #131313;
    font-size: 16px;
    cursor: pointer;
}

.retour>h2>img {
    width: 100px;
}

.reset,
h1,
h4 {
    padding-left: 13%;
}

.header h1 {
    margin-top: 6%;
}

.header h5 {
    margin-top: 4%;
    margin-bottom: -1%;
}

.retour {
    padding-left: 16%;
}

.reset {
    margin-bottom: 7%;
    margin: 0;
}

button {
    font-family: "Lato-Regular";
    font-size: 16px;
    color: #ffff;
    border: 1px solid #131313;
    text-transform: uppercase;
    padding: 10px 6%;
    background-color: #131313;
    margin: 4% 0%;
}


/* FLOATING LABEL */

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

label,
input {
    transition: all 0.2s;
    touch-action: manipulation;
    color: #131313;
}

input {
    border: 0;
    border-bottom: 1px solid black;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    width: 25%;
}

.date {
    border-bottom: none;
}

input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}

input:placeholder-shown+label {
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.2);
}


/**
  * By default, the placeholder should be transparent. Also, it should 
  * inherit the transition.
  */

 ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}


/**
  * Show the placeholder when the input is focused.
  */

input:focus::-webkit-input-placeholder {
    opacity: 1;
}


/**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when 
  * there's something in the input at all.
  */

input:not(:placeholder-shown)+label,
input:focus+label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}