<div class="top-header">
    <div class="container">
        <div class="header">
            <p routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/"><span>Home</span> > <span>Femme</span>> <span style="text-decoration: none">Chaussure</span></p>
        </div>
        <div class="main-header">
            <h1>Chaussure</h1>
            <h3>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux
                de texte pour réaliser un livre spécimen de polices de texte. </h3>
        </div>
    </div>
</div>
<div class="body">
    <div class="container">
        <div class="col-md-3">
            <h2>Filtrer par</h2>
            <div class="color">
                <h6>Couleur</h6>
                <p>Blanc <img src="assets\images\logo\croixcheckmark.png" alt=""></p>
                <p>Bleu <img src="assets\images\logo\croixcheckmark.png" alt=""></p>
            </div>
            <h4>Categorie <img src="assets\images\logo\ajout.png" alt=""></h4>
            <h4>Marque <img src="assets\images\logo\ajout.png" alt=""></h4>
            <h4>Taille <img src="assets\images\logo\ajout.png" alt=""></h4>
            <div class="couleur">
                <h4 style="margin-bottom: 13%;">Couleur <img src="assets\images\logo\moins.png" alt=""></h4>
                <div>
                    <input type="checkbox" id="beige" name="beige" value="beige" />
                    <label for="beige">Beige</label>
                </div>
                <div>
                    <input type="checkbox" id="blanc" name="blanc" value="blanc" checked/>
                    <label for="blanc">Blanc</label>
                </div>
                <div>
                    <input type="checkbox" id="bleu" name="bleu" value="bleu" checked />
                    <label for="bleu">Bleu</label>
                </div>
                <div>
                    <input type="checkbox" id="azur" name="azur" value="azur" />
                    <label for="azur">Bleu d'azur</label>
                </div>
                <div>
                    <input type="checkbox" id="gris" name="gris" value="gris" />
                    <label for="gris">Gris</label>
                </div>
                <div>
                    <input type="checkbox" id="jaune" name="jaune" value="jaune" />
                    <label for="jaune">Jaune</label>
                </div>
                <div>
                    <input type="checkbox" id="marron" name="marron" value="marron" />
                    <label for="marron">Marron</label>
                </div>
                <div>
                    <input type="checkbox" id="noir" name="noir" value="noir" />
                    <label for="noir">Noir</label>
                </div>
                <div>
                    <input type="checkbox" id="rose" name="rose" value="rose" />
                    <label for="rose">Rose</label>
                </div>
                <div>
                    <input type="checkbox" id="rouge" name="rouge" value="rouge" />
                    <label for="rouge">Rouge</label>
                </div>
                <div>
                    <input type="checkbox" id="vert" name="vert" value="vert" />
                    <label for="vert">Vert</label>
                </div>
                <div>
                    <input type="checkbox" id="violet" name="violet" value="violet" />
                    <label for="violet">Violet</label>
                </div>
            </div>
        </div>
    </div>
</div>