.top-header {
    background-color: rgb(238, 238, 238);
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 4%;
}

.header {
    font-family: "Lato-light";
    font-size: 18px;
    p {
        font-family: "Lato-Light";
        font-size: 16px;
        cursor: pointer;
    }
    span {
        margin-left: 7px;
        margin-right: 7px;
        text-decoration: underline;
    }
    .produitFils {
        text-decoration: none;
    }
}

.nav-menus {
    margin-bottom: 3%;
}

.main-header {
    h1 {
        font-family: "AbrilFatface";
        font-size: 40px;
        text-align: center;
        margin-bottom: 2%;
    }
    h3 {
        font-family: "Lato-Light";
        font-size: 16px;
        width: 94%;
    }
}

h2,
h4 {
    font-family: "Lato-Regular";
    font-size: 16px;
    border-bottom: 1px solid black;
    font-weight: 900;
    padding-bottom: 6px;
}

.color {
    margin-left: 7%;
    margin-top: 10%;
    margin-bottom: 40%;
    h6 {
        color: #848484;
    }
    p {
        font-family: "Lato-Regular";
        font-size: 14px;
        margin-bottom: 0px;
    }
    p>img {
        float: right;
        width: 20px;
        height: 20px;
    }
}

.filters {
    padding-left: 7%;
}

label {
    color: #848484;
}

.col-md-3 {
    h4,
    h2 {
        border-bottom: 1px solid #848484;
    }
    h4>img {
        width: 15px;
        height: 15px;
        float: right;
    }
}

.couleur>div>input {
    width: 20px;
    height: 20px;
}

.show-more {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    background: #e5feff;
    overflow: hidden;
    max-height: 0;
}

.show-more.show {
    max-height: 300px;
}

.row {
    margin-top: 7%;
}

.body-header {
    margin-left: 7%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        display: inline;
        margin: 0 4%;
        a {
            font-size: 14px;
            color: #848484;
            font-family: "Lato-Regular"
        }
    }
}

.body-containt {
    .col-md-3 {
        float: left;
        .product {
            margin: 6% 0;
            border: 1px solid #707070;
            .favoris {
                float: right;
                width: 15px;
                height: 15px;
                position: relative;
            }
            img {
                width: 165px;
                height: 198px;
            }
            h4 {
                color: #131313;
                font-family: "Lato-Regular";
                font-size: 16px;
                border-bottom: none;
                font-weight: 300;
                padding-bottom: none;
            }
            h5 {
                color: #848484;
                font-family: "Lato-Regular";
                font-size: 14px;
            }
            h6 {
                color: #000000;
                font-family: "Lato-Black";
                font-size: 12px;
            }
            .the_Seller {
                h2,
                h4 {
                    color: #000000;
                    font-family: "Lato-Regular";
                    font-size: 14px;
                }
                h4 {
                    font-size: 12px;
                }
            }
        }
    }
}


/* CHECKBOX */

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    /*     background: #e6e6e6;
    border: 0px solid #000000; */
    border: 1px solid #707070;
    background-color: #ffffff;
}

.control-radio .control_indicator {
    border-radius: none;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
    background: #ffffff;
}

.control input:checked~.control_indicator {
    background: #000405;
}

.control input:checked:focus~.control_indicator {
    background: #000000;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #f5eded;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/* FIN CHECKBOX */