<div class="top-header">
    <div class="container">
        <div class="header">
            <ul class="breadcrumb">
                <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
                <li><a href="#">Femme</a></li>
                <li>Chaussure</li>
            </ul>
        </div>
        <div class="main-header">
            <h1>Chaussure</h1>
            <h3>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux
                de texte pour réaliser un livre spécimen de polices de texte. </h3>
        </div>
    </div>
</div>
<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Filtrer par</h2>
                <div class="color">
                    <div></div>
                    <h6>Couleur</h6>
                    <div *ngFor="let f of colors; index as i">
                        <p *ngIf="f.checked">{{f.name}} <img src="assets\images\logo\croixcheckmark.png" (click)="deleteColor(i)" alt=""></p>

                    </div>
                </div>
                <div class="filters">
                    <h4>Categorie <img src="assets\images\logo\ajout.png" alt=""></h4>
                    <h4>Marque <img src="assets\images\logo\ajout.png" alt=""></h4>
                    <h4>Taille <img src="assets\images\logo\ajout.png" alt=""></h4>
                    <div class="couleur">
                        <h4 style="margin-bottom: 13%;">Couleur <img src="assets\images\logo\{{logo}}.png" alt=""></h4>
                        <div class="control-group">
                            <div *ngFor="let color of colors; index as i">
                                <label class="control control-checkbox {{color.color}}"> {{color.name}}
                                        <input type="checkbox" id="color{{color.value}}" name="filter" [checked]="color.checked"[ngModel]="filter"  (change)="changeColor(i)"/>
                                    <div class="control_indicator"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="body-header">
                    <div class="nav-menus">
                        <ul class="nav-menu">
                            <li>
                                <a class="first">Trier par:</a>
                            </li>
                            <li>
                                <a>Nouveautés</a>
                            </li>
                            <li>
                                <a>Prix décroissant</a>
                            </li>
                            <li>
                                <a>Prix croissant</a>
                        </ul>
                    </div>
                    <div class="body-containt">
                        <div class="row">
                            <div class="col-md-3" *ngFor="let product of products, index as ind">
                                <div class="product" (click)="seeProduct(product, ind)" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                                    <div>
                                        <img src="{{product.img}}" alt="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/detail-produit">
                                        <img src="assets/images/logo/cœur.svg" alt="" class="favoris">
                                    </div>
                                    <div style="padding-left: 6px;">
                                        <h4>{{product.name}}</h4>
                                        <h5>{{product.decsription}}</h5>
                                        <h6 style="font-weight: 900;">{{product.prix}}</h6>
                                        <hr>
                                        <div class="the_Seller">
                                            <img src="{{product.avatarVendeur}}" alt="" class="bestSeller">
                                            <div style="margin-left: 32%;">
                                                <h2>{{product.nomVendeur}}</h2>
                                                <h4>{{product.pays}}</h4>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <app-newsletter></app-newsletter>
    <app-aboutus></app-aboutus>
</footer>