<div class="top_menu_area">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/home/cover_girlhandbag.png" class="responsive" style="width: 100%">
            <div class="menu_font">
                <h2>Fashion everywhere</h2>
                <div class="label">
                    <h4>Vous êtes accro au shopping? <br> Créez votre espace et <a>revendez d’un simple clic</a> des articles de luxe dans le monde entier.
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/home/cover_handbag.png" class="responsive" style="width: 100%">
            <div class="menu_font_slider">
                <h2>100% neuf <br> 100% authentique
                </h2>
                <div class="font_label">
                    <h4>Tous nos articles sont de première main, ils sont authentifiés et verifiés pour vous garantir la meilleure qualité.</h4>
                    <a type="button">Démarrer les emplettes</a>
                </div>
            </div>
        </div>
        <div class="news_area col-md-12">
            <div class="new_product">
                <div class="container">
                    <h1>Nouveautés</h1>
                    <div class="list_Product">
                        <div class="col-md-2" *ngFor="let newProduct of ProductByNewer">
                            <div class="news_Product">
                                <img src="{{newProduct.link_image_pple}}" class="responsive">
                                <h2>{{newProduct.nom_marque}}</h2>
                                <h3>{{newProduct.description}}</h3>
                                <h4>{{newProduct.nom_produit}}</h4>
                                <h6>{{newProduct.prix_unitaire * newProduct.taux_change | number : '1.2-2'}} {{newProduct.code_monnaie}}</h6>
                            </div>
                            <div class="the_Seller">
                                <img src="{{newProduct.image_link_profile}}" class="responsive">
                                <h2>{{newProduct.nom_profile}} {{newProduct.prenom_profile}}</h2>
                                <h4>{{newProduct.nom_fr_fr}}</h4>
                            </div>
                        </div>
                    </div>
                    <button>Voir Tout</button>
                </div>
            </div>
        </div>
        <div class="best_area col-md-12">
            <div class="best_product">
                <div class="container">
                    <h1>Meilleures ventes</h1>
                    <div class="list_Product">
                        <div class="col-md-2" *ngFor="let BestProduct of BestProducts">
                            <div class="best_Product">
                                <img src="{{BestProduct.link_image_pple}}" class="responsive">
                                <h2>{{BestProduct.nom_marque}}</h2>
                                <h4>{{BestProduct.nom_produit}}</h4>
                                <h6>{{BestProduct.prix_unitaire * BestProduct.taux_change | number : '1.2-2'}} {{BestProduct.code_monnaie}}</h6>
                            </div>
                            <div class="the_Seller">
                                <img src="{{BestProduct.image_link_profile}}" class="responsive" class="bestSeller">
                                <h2>{{BestProduct.nom_profile}} {{BestProduct.prenom_profile}}</h2>
                                <h4>{{BestProduct.nom_fr_fr}}</h4>
                            </div>
                        </div>
                    </div>
                    <button>Voir Tout</button>
                </div>
            </div>
        </div>
        <!-- DEVENIR VENDEUR -->
        <div class="col-md-12" style="margin:0; padding: 0">
            <div class="row">
                <div class="menu_shop col-md-6">
                    <div>
                        <div class="label_shop">
                            <img src="assets/images/home/Ellipse.png" class="responsive">
                            <div class="label_containt">
                                <h2>Kate&You, <br> c’est la plateforme incontournable de mise en relation entre passionnées de mode!
                                </h2>
                                <h4>Kathleen, <span>serial shoppeuse</span></h4>
                                <a>Devenir Vendeur</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/home/right.png" class="responsive" style="width: 100%;    height: 100%">
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="seller">
                <div class="container">
                    <h1>Ils sont tout nouveaux</h1>
                    <h4 class="text">Il viennent tout juste de nous rejoindre. <br> Si vous aussi souhaitez devenir vendeur chez Kate&You, rien de plus simple. <a>Devenir vendeur</a></h4>
                    <div class="col-md-2" *ngFor="let Seller of BestProducts">
                        <div class="Ours_Seller">
                            <img src="{{Seller.image_link_profile}}" class="responsive">
                            <h2>{{Seller.nom_profile}} {{Seller.prenom_profile}}</h2>
                            <h4>{{Seller.text_marketing_profile}}</h4>
                            <h4>{{Seller.nom_fr_fr}}</h4>
                        </div>
                    </div>
                    <button>Voir Tout</button>
                </div>
            </div>
        </div>
        <div class="Iam col-md-12">
            <div class="user_area">
                <div class="container">
                    <img src="assets/images/home/etiquette.png" class="responsive etiquette">
                    <h1>Comment ça marche?</h1>
                    <h4>Que vous soyez vendeur ou acheteur, <br> Kate&You vous simplifie la vie.</h4>
                    <div class="btn">
                        <button>Je suis vendeur</button>
                        <button>Je suis acheteur</button>
                    </div>
                    <div class="step">
                        <div class="col-md-3">
                            <h1>1</h1>
                            <div class="Product">
                                <h2>J’ajoute un article</h2>
                                <h4>Je souhaite mettre mon article neuf en vente. Je prends des photos, décrit mon produit, le met en valeur et fixe son prix.
                                </h4>
                            </div>
                            <img src="assets/images/home/ccm_vendeur_1.png" class="responsive">
                        </div>
                        <div class="col-md-3">
                            <h1>2</h1>
                            <div class="Product sendProduct">
                                <h2>Je l'envoie</h2>
                                <h4>Une fois vendu, je l’envoie à son destinataire dans les 72h. Je joins la facture d'achat et un mot de remerciement personnalisé.</h4>
                            </div>
                            <img src="assets/images/home/ccm_vendeur_2.png" class="responsive">
                        </div>
                        <div class="Notification col-md-3">
                            <h1>3</h1>
                            <div class="Product notif">
                                <h2>Je reçois le paiement</h2>
                                <h4>La vente est finalisée ! Je reçois l’argent sur mon compte bancaire 48h après réception de l'article par l'acheteur.</h4>
                            </div>
                            <img src="assets/images/home/ccm_vendeur_3.png" class="responsive">
                        </div>
                        <button class="btn_propos">En savoir plus</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <app-download></app-download>
    <app-newsletter></app-newsletter>
    <app-aboutus></app-aboutus>
</footer>