<div class="smartphone col-md-12">
    <div class="user_area">
        <img src="assets/images/home/dl_smartphone.png" alt="" style="width: 100%">
        <div class="download_app">
            <h1>Télécharger notre application</h1>
            <h4>Grâce à l’application Kate & You, retrouvez tous les produits en ligne et recevez des notifications lorsque vos vendeuses favoris ajoutent un produit. Retrouvez notre application sur iPhone et Android.</h4>
            <img src="assets/images/home/GooglePLay.png" alt="">
            <img src="assets/images/home/appStore.png" alt="" style=" margin-left: 14px;">
        </div>
    </div>
</div>
<div class="aboutUs col-md-12">
    <div class="container">
        <div class="col-md-3">
            <img src="assets/images/logo/ruban_stroke.svg" alt="">
            <h4>Tous nos articles sont 100% authentiques</h4>
        </div>
        <div class="col-md-3">
            <img src="assets/images/logo/etoile_stroke.svg" alt="">
            <h4>Nos articles sont garantis 100% neufs</h4>
        </div>
        <div class="col-md-3">
            <img src="assets/images/logo/bouclier_stroke.svg" alt="">
            <h4>Protection optimale des acheteurs et des vendeurs</h4>
        </div>
        <div class="col-md-3">
            <img src="assets/images/logo/cadena_stroke.svg" alt="">
            <h4>Les paiements sont entièrement sécurisés</h4>
        </div>
    </div>
</div>