<hr>
<div class="containt">
    <div class="container">
        <div class="header">
            <ul class="breadcrumb">
                <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
                <li>Mes paiements</li>
            </ul>
        </div>
        <div class="row">
            <div class="infos col-md-4">
                <div>
                    <img src="assets/images/others/Image-profil.png" alt="" class="avatar">
                    <h3>Donato Bello</h3>
                </div>
                <p> Pays: France <img src="assets/images/others/drapeau.png" alt="" align="absmiddle"></p>

                <div class="list-group">
                    <li class="fromLeft " style="width: 74%">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mon-profil"><img src="assets/images/logo/Icon-information.png" alt=""> Mes informations</a>
                    </li>
                    <li class="fromLeft" style="width: 81%">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/profil-Vendeur"><img src="assets/images/logo/Icon-profil.png" alt=""> Mon profil vendeur</a>
                    </li>
                    <li class="fromLeft active" style="width: 52%;"> <img src="assets/images/logo/Icon-paimenets.png" alt=""> Mes paiements</li>
                    <li class="fromLeft" style="width: 72%">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-documents"><img src="assets/images/logo/Icon-paimenets.png" alt=""> Mes documents
                        </a>
                    </li>
                    <li class="fromLeft" style="width: 80%">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/ajout-produit"> <img src="assets/images/logo/Icon-ajout.png" alt=""> Ajouter un article</a>
                    </li>
                    <li class="fromLeft" style="width: 63%">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-listes-produits"><img src="assets/images/logo/Icon-produits.png" alt=""> Mes produits</a>
                    </li>
                    <li class="fromLeft" style="width: 71%;">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-commandes"> <img src="assets/images/logo/Icon-commande.png" alt=""> Mes commandes</a>
                    </li>
                    <li class="fromLeft" style="width: 60%;">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-messages"> <img src="assets/images/logo/Icon-message.png" alt=""> Mes messages</a>
                    </li>
                    <li class="fromLeft" style="width: 70%;">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-parametres"> <img src="assets/images/logo/Icon-parametre.png" alt=""> Mes parametres</a>
                    </li>
                </div>
            </div>
            <div class="col-md-8">
                <div class="main-header">
                    <h1>Mes paiements</h1>
                    <h3>*Nundinas magna promiscuae fortunae convenit multitudo ad commercanda quae indi mittunt et seres aliaque plurima vehi terra marique consueta.*</h3>
                    <h6>Voir plus</h6>
                </div>
                <form class="myInfos">
                    <div class="me">
                        <h4>Titulaire du compte</h4>
                        <label>Mr Donato Bello</label>
                    </div>
                    <div class="field">
                        <label class="check">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        Confirmer le titulaire du compte
                      </label>
                    </div>
                    <div class="checkYou">
                        <div>
                            <button class="{{homme}}" (click)="civilite()">Particulier</button>
                            <button class="{{femme}}" (click)="civilite()" style="margin-left: -3%;">Professionel</button>
                        </div>
                    </div>
                    <!--                     <div class="field">
                        <section class="example-section">
                            <input id="radio-1" class="radioBtn" name="radio" type="radio" checked>
                            <label for="radio-1" class="radio-label">PARTICULIER</label>
                            <input id="radio-2" class="radioBtn" name="radio" type="radio">
                            <label for="radio-2" class="radio-label">PROFESSIONEL</label>
                        </section>
                    </div> -->
                    <div class="col-md-12">
                        <div class="field col-md-6" style="float: left;">
                            <input type="text" name="banque" id="banque" placeholder="   ">
                            <label for="banque">Le pays de votre banque*</label>
                        </div>
                        <div class="field col-md-6">
                            <input type="text" name="devise" id="devise" placeholder=" ">
                            <label for="devise">Votre Devise*</label>
                        </div>
                    </div>
                    <div class="col-md-12" style="float: left;">
                        <div class="field">
                            <input type="text" name="iban" id="iban" placeholder="   ">
                            <label for="iban" style="width: 50%;">IBAN*</label>
                        </div>
                    </div>
                    <div class="save">
                        <h4>Enregister votre compte, vous acceptez notre contrat de services et le <span> contrat de création de compte Stripe Connected</span></h4>
                    </div>
                    <button class="valid ">Valider</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MOBIL RESPONSIVE -->

<!-- END OF RESPONSIVE  -->
<footer>
    <app-download></app-download>
    <hr class="menu">
    <app-aboutus></app-aboutus>
</footer>