<div class="top-header">
    <div class="container">
        <div class="header">
            <p routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/"><span>Home</span> > <span>Femme</span>> <span style="text-decoration: none">Chaussure</span></p>
        </div>
    </div>
</div>
<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>