<div class="top-header">
    <div class="container">
        <div class="header">
            <p routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/"><span>Home</span> > <span>Femme</span>> <span style="text-decoration: none">Chaussure</span></p>
        </div>
    </div>
</div>
<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img src="" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <h1>JIMMY CHOO</h1>
                <h4>Red romy 85 crystal pumps</h4>
                <h6>1500 €</h6>

                <div>
                    <div>

                    </div>
                </div>
            </div>
            <!-- <div class="col-md-2"></div> -->
        </div>
    </div>
</div>