<div class="top_header_area">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <!-- Language Area Start -->
                <div class="language_area d-inline-block">
                    <div class="btn-group" dropdown>
                        <span dropdownToggle class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                            FRANCE | € <span class="caret"></span>
                        </span>
                        <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="lang" ngFor>
                            <li role="menuitem"><a class="dropdown-item">ENGLISH | £</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item">USA | $</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item">$CSD</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem">
                                <a class="dropdown-item"></a>fdfds</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="top_single_area text-center">
                    <div class="login_area d-inline-block">
                        <h4>Du 20 février au 20 mars, la livraison est gratuite pour toute commande de plus de 100€. <a><u>En savoir plus</u></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="logo_area">
                    <img src="assets/images/logo/insta.png" alt="instagram">
                    <img src="assets/images/logo/fb.png" alt="facebook">
                </div>
            </div>
        </div>
    </div>
</div>-