<div class="container">
    <div class="row">
        <div class="footer1 col-md-3">
            <h1>Kate & You</h1>
            <h4>Qui sommes nous?</h4>
            <h4>à propos</h4>
            <h4>devenir vendeur</h4>
            <h4>contact</h4>
        </div>
        <div class="footer2 col-md-2">
            <h1>Aide</h1>
            <h4>FAQ</h4>
            <h4>CGV</h4>
            <h4>CGU</h4>
        </div>
        <div class="follow col-md-2">
            <h1>suivez-nous</h1>
            <img src="assets/images/logo/insta.png" alt="">
            <img src="assets/images/logo/fb.png" alt="">
            <img src="assets/images/logo/youtube.png" class="youtube" alt="">
        </div>
        <div class="col-md-3 mode">
            <div class="paid">
                <h1>Mode de paiement</h1>
                <img src="assets/images/logo/Mastercard-logo.svg" alt="">
                <img src="assets/images/logo/Logo_Visa.svg" alt="">
                <img src="assets/images/logo/American_Express_logo.svg" alt="">
                <img src="assets/images/logo/PayPal.svg" alt="" class="PayPal">
            </div>
        </div>
        <div class="col-md-2">
            <div class="logo">
                <img src="assets/images/home/GooglePLay.png" alt="">
                <img src="assets/images/home/appStore.png" alt="">
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/login">Page inscription</h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/resetPass">Page mot de passe oublié</h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mon-profil">Page mon profil</h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/detail-vendeur">Page Detail vendeur</h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-messages">Page mes messages</h5>
    </div>
    <div class="col-md-3">
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-documents">Page mes documents</h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mon-paiement">Page mes paiement</h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-produits">Page listes chaussure</h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/details-messages">Page details messages</h5>
    </div>
    <div class="col-md-3">
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/detail-produit">Page detail d'un produit</h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mon-panier">Page mon panier</h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-listes-produits">Page mes produits</h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-commandes">Page mes commandes</h5>
    </div>
    <div class="col-md-3">
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-parametres">Page mes parametres</h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/ajout-produit">Page ajouter un article</h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/profil-Vendeur">Page profil vendeur </h5>
        <h5 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/nosVendeurs">Page liste vendeur </h5>

    </div>
</div>