<div class="container">
    <div class="col-md-12">
        <div class="footer1 col-md-3">
            <h1>Kate & You</h1>
            <h4>Qui sommes nous?</h4>
            <h4>à propos</h4>
            <h4>devenir vendeur</h4>
            <h4>contact</h4>
        </div>
        <div class="footer2 col-md-2">
            <h1>Aide</h1>
            <h4>FAQ</h4>
            <h4>CGV</h4>
            <h4>CGU</h4>
        </div>
        <div class="follow col-md-2">
            <h1>suivez-nous</h1>
            <img src="assets/images/logo/insta.png" alt="">
            <img src="assets/images/logo/fb.png" alt="">
            <img src="assets/images/logo/youtube.png" class="youtube" alt="">
        </div>
        <div class="col-md-3 mode">
            <div class="paid">
                <h1>Mode de paiement</h1>
                <img src="assets/images/logo/Mastercard-logo.svg" alt="">
                <img src="assets/images/logo/Logo_Visa.svg" alt="">
                <img src="assets/images/logo/American_Express_logo.svg" alt="">
                <img src="assets/images/logo/PayPal.svg" alt="" class="PayPal">
            </div>
        </div>
        <div class="col-md-2">
            <div class="logo">
                <img src="assets/images/home/GooglePLay.png" alt="">
                <img src="assets/images/home/appStore.png" alt="">
            </div>
        </div>
    </div>
</div>