.container {
    padding-top: 2%;
    padding-bottom: 7%;
}

hr {
    border-top: 1px solid #000;
}

.row {
    padding-left: 13%;
}

.header {
    font-family: "Lato-Light";
    font-size: 16px;
    color: #b9b9b9;
    .breadcrumb {
        background-color: #ffffff;
    }
    ul.breadcrumb {
        padding: 10px 7%;
        list-style: none;
    }
    ul.breadcrumb li {
        display: inline;
    }
    ul.breadcrumb li+li:before {
        padding: 7px;
        content: ">";
    }
    ul.breadcrumb li a {
        font-family: "Lato-Light";
        font-size: 16px;
        color: #b9b9b9;
    }
    ul.breadcrumb>li {
        padding: 0;
        text-transform: none;
        margin: 0;
    }
    ul.breadcrumb>li:after {
        border-bottom: none;
    }
}

a {
    color: #131313;
}

a:hover {
    text-decoration: none;
}

a>img {
    padding-right: 10px;
}

.main-header {
    h1 {
        font-family: "AbrilFatface";
        font-size: 35px;
        text-align: center;
        margin-top: -2%;
        margin-right: 18%;
    }
    h3 {
        font-family: "Lato-Light";
        font-size: 14px;
        padding-top: 6%;
        width: 87%;
        text-align: justify;
        padding-left: 4%;
    }
}

.infos {
    .avatar {
        border-radius: 50%;
        border: 2px solid #909396;
    }
    h3 {
        margin-right: 7%;
        font-family: "Lato-Light";
        font-size: 14px;
        color: #131313;
        padding: 6%;
    }
    h4,
    p {
        font-family: "Lato-Light";
        font-size: 17px;
    }
    p>img {
        padding-bottom: 9px;
        padding-left: 5px;
    }
}

.list-group {
    list-style: none;
    dl {
        dt {
            cursor: pointer;
            font-family: "Lato-Regular";
            font-size: 16px;
            text-transform: uppercase;
            padding: 10px 0px;
            color: #131313;
            font-weight: normal;
            img {
                padding-right: 5%;
            }
        }
    }
}

dd {
    margin: 5% 0;
    margin-left: 9%;
    cursor: default;
}


/* FLOATING LABEL */

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

label,
input {
    transition: all 0.2s;
    touch-action: manipulation;
}

input {
    border: 0;
    border-bottom: 1px solid black;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    width: 215px;
}

input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}

input:placeholder-shown+label {
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.2);
    color: #b9b9b9;
    font-size: 14px;
    font-family: "Lato-Light";
}


/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/

::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}


/**
* Show the placeholder when the input is focused.
*/

input:focus::-webkit-input-placeholder {
    opacity: 1;
}


/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/

input:not(:placeholder-shown)+label,
input:focus+label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}


/* END of FLOATING LABEL */

#langue,
.choixLangue {
    width: 365px;
}

#description,
#descri {
    width: 585px;
}

.addlangue {
    h3 {
        -webkit-transition: max-height 1s;
        -moz-transition: max-height 1s;
        -ms-transition: max-height 1s;
        -o-transition: max-height 1s;
        transition: max-height 1s;
        font-family: "Lato-Light";
        font-size: 17.5px;
        color: #131313;
        text-decoration: underline;
        cursor: pointer;
    }
}

.addlangue {
    padding-top: 5%;
}

.valid {
    font-family: "Lato-Regular";
    font-size: 13px;
    color: #ffff;
    text-transform: uppercase;
    width: 180px;
    height: 40px;
    border: 1px solid #21253d;
    background-color: #21253d;
    margin-right: 16%;
    float: right;
    margin-top: 5%;
}

.myInfos {
    padding-top: 29%;
    h4 {
        font-size: 16px;
        font-family: "Lato-Regular";
    }
    img {
        width: 80px;
    }
    .identity {
        width: 174px;
        height: 120px;
        margin: 8% 0 8% 0;
    }
}

form {
    padding-left: 9%;
}

.choixLangue {
    padding-top: 5%;
}


/* Animation Border-Bottom */

dt:after {
    display: block;
    content: '';
    border-bottom: solid 1px #131313;
    transform: scaleX(0);
    transition: transform 2000ms ease-in-out;
}

dt:hover:after {
    transform: scaleX(0.8);
}

.fromLeft:after {
    margin-top: 4%;
    transform-origin: 0% 0%;
}

.fromLeft.active:after {
    -webkit-transform-origin: none;
    transform-origin: none;
    content: none;
    transform: none;
    transition: none;
}

.fromLeft.active {
    width: 67%;
    border-bottom: 1px solid black;
    transform: translate(1px);
}


/*END OF Animation Border-Bottom */

.col-md-4 {
    float: left;
    padding-left: 0px;
}

.right {
    margin-right: 14%;
}

form {
    padding-left: 4%
}

.left {
    margin-left: 5%;
}

.myCheckbox input {
    position: relative;
    z-index: -9999;
}

.myCheckbox span {
    width: 20px;
    height: 20px;
    display: block;
}

.civilite {
    font-size: 14px;
    margin-right: 5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.checkYou {
    padding-left: 28%;
    white-space: nowrap;
    width: 158px;
}

button {
    font-family: "Lato-Regular";
    font-size: 13px;
    text-transform: uppercase;
    width: 158px;
    height: 40px;
}

.noActive {
    background-color: white;
    border: 1px solid #131313;
}

.activ {
    background-color: #21253d;
    border: 1px solid #21253d;
    color: white;
}

td {
    padding-top: 15px;
    img {
        width: 90px;
        padding-bottom: 15px;
    }
}

th,
h4 {
    font-size: 16px;
    color: #131313;
    font-family: 'Lato-Regular';
    text-transform: uppercase;
}

.filter {
    margin-top: 6%;
    h4 {
        display: inline-block;
    }
    img {
        width: 18px;
        height: 12px;
        margin-left: 8px;
        margin-top: -3px;
    }
}

h5,
h6,
ul>li {
    font-size: 14px;
    font-family: 'Lato-Regular';
    color: #131313;
    text-transform: uppercase;
}

h6 {
    font-family: 'Lato-Light';
    text-transform: none;
}

.titre {
    margin: 5% 0px;
    font-family: 'Lato-Regular';
}

tr {
    border-top: 1px solid #848484;
}

.prix {
    float: right;
}

.head {
    border-top: none;
}

tbody {
    tr:first-child {
        border-top: none;
    }
}

.price {
    float: right;
    font-family: 'Lato-Black';
}

.myComand {
    position: absolute;
    z-index: 3;
    width: 499px;
}

ul.listComand {
    list-style-type: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    li:first-child {
        padding-top: 7%;
    }
    li {
        cursor: default;
        padding: 8px 0;
    }
    li:last-child {
        padding-bottom: 9px;
    }
    li:after {
        border-bottom: none;
    }
}

span.row {
    padding-left: 11%;
}