<hr>
<div class="containt">
    <div class="container">
        <div class="header">
            <ul class="breadcrumb">
                <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
                <li>Mes documents</li>
            </ul>
        </div>
        <div class="row">
            <div class="infos col-md-4">
                <div>
                    <img src="assets/images/others/Image-profil.png" alt="" class="avatar">
                    <h3>Donato Bello</h3>
                </div>
                <p> Pays: France <img src="assets/images/others/drapeau.png" alt="" align="absmiddle"></p>
                <div class="list-group">
                    <li class="fromLeft" style="width: 77%">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mon-profil"><img src="assets/images/logo/Icon-information.png" alt=""> Mes informations</a>
                    </li>
                    <li class="fromLeft" style="width: 81%">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/profil-Vendeur"><img src="assets/images/logo/Icon-profil.png" alt=""> Mon profil vendeur</a>
                    </li>
                    <li class="fromLeft" style="width: 70%">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mon-paiement"><img src="assets/images/logo/Icon-paimenets.png" alt=""> Mes paiements
                        </a>
                    </li>
                    <li class="fromLeft active" style="width:55%"> <img src="assets/images/logo/Icon-doc.png" alt=""> Mes documents</li>
                    <li class="fromLeft" style="width: 80%">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/ajout-produit"> <img src="assets/images/logo/Icon-ajout.png" alt=""> Ajouter un article</a>
                    </li>
                    <li class="fromLeft" style="width: 63%">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-listes-produits"><img src="assets/images/logo/Icon-produits.png" alt=""> Mes produits</a>
                    </li>
                    <li class="fromLeft" style="width: 71%;">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-commandes"> <img src="assets/images/logo/Icon-commande.png" alt=""> Mes commandes</a>
                    </li>
                    <li class="fromLeft" style="width: 60%;">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-messages"> <img src="assets/images/logo/Icon-message.png" alt=""> Mes messages</a>
                    </li>
                    <li class="fromLeft" style="width: 70%;">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mes-parametres"> <img src="assets/images/logo/Icon-parametre.png" alt=""> Mes parametres</a>
                    </li>
                </div>
            </div>
            <div class="col-md-8">
                <div class="main-header">
                    <h1>Mes documents</h1>

                </div>
                <form class="myInfos">
                    <div>
                        <h4>Ajouter un justificatif d'identité</h4>
                        <img class="identity" src="assets\images\logo\Group 2.2.png" alt="">
                    </div>
                    <div>
                        <h4>Ajouter un justificatif de domicile</h4>
                        <label for="file1" class="label-file">
                                <img src="assets\images\logo\Group.png" alt="">
                            </label>
                        <input id="file1" class="input-file1" type="file">


                        <label for="file2" class="label-file">
                                <img src="assets\images\logo\vendre.png" alt="">
                            </label>
                        <input id="file2" class="input-file1" type="file">

                    </div>

                    <button class="valid ">Valider</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MOBIL RESPONSIVE -->

<!-- END OF RESPONSIVE  -->
<footer>
    <app-download></app-download>
    <hr class="menu">
    <app-aboutus></app-aboutus>
</footer>